* { margin:0; padding:0; outline: 0; }

body { text-align: center; min-width: 500px; }

.canvasWrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	height: 300px;
	width: 400px;
	text-align: left;
}

.sliderWrapper {
	text-align: center;
}

.sliderItems {
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}

.date {
	padding-top: 5px;
	font-family: 'Tangerine', serif;
	font-size: 20pt;
}

.answer {
	padding-top: 50px;
	font-family: 'Tangerine', serif;
	font-size: 70pt;
	text-shadow: 4px 4px 4px #aaa;
}

.title, .conditional {
	font-family: 'Tangerine', serif;
	font-size: 30pt;
}

.bx-prev, .bx-next { top: 100px }
